@charset utf-8;

/*==== SLICK ARTICLE ====*/
[slick-article]::after { content:"";display:block;clear:both; }

/*== STATIC IMAGES with no source ARE INVISIBLE ==*/
img[slick-static-image]:not([src]) { display:none; content:""; }

/*==== SLICK IMAGE ====*/
.slick-image { display:inline-block; position:relative; padding:0; }
.slick-image>img { width:100%; }

.slick-image[flow="image-left"] { float:left; margin-right:10px; margin-bottom:5px; }
.slick-image[flow="image-right"] { float:right; margin-left:10px; margin-bottom:5px; }
.slick-image[flow="plain"] { float:none; margin-bottom:5px; }
.slick-image[model="fancy"] {
	display:inline-block;
	position:relative; padding:0;
	cursor:pointer; text-align:center; font-style:italic;
	border:8px solid transparent; background:rgba(255,255,255,0.5);
	box-shadow:2px 3px 12px rgba(0,0,0,0.3); }
	.slick-image[model="fancy"]:hover {
		background:rgba(255,255,255,0.6);
		box-shadow:2px 3px 12px rgba(0,0,0,0.4); }
	.slick-image[model="fancy"]:active {
		background:rgba(255,255,255,0.7);
		box-shadow:2px 3px 12px rgba(0,0,0,0.5); }
		.slick-image[model="fancy"] img { 
			display:block; margin-bottom:3px; /*box-sizing:border-box;*/
			box-shadow:0 1px 6px rgba(0,0,0,0.5); border:1px solid white; }
		.slick-image[model="fancy"]:hover img { opacity:0.9; }
		.slick-image[model="fancy"]:active img { opacity:0.7; }

/*=== SLICK UPLOADER ===*/
.slick-uploader { position:relative; max-width:320px; }
	.slick-uploader>h1 { display:block; margin:0; font-weight:bold; text-align:center; text-decoration:underline; }
	.slick-uploader>label { display:inline; font-weight:bold; font-size:14px; }
	.slick-uploader::after { content:"";display:block;clear:both; }
	.slick-uploader-input { float:left; cursor:pointer; }
		.slick-uploader-input:hover { background:rgba(0,194,255,0.15); }
	.slick-uploader>button { float:right; }
	.slick-uploader-progress {
		display:none; /* Dynamically shown in JS */
		/**/-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
		box-sizing:border-box; overflow:hidden;
		position:absolute; width:0%; height:100%;
		/**/background-image:   -moz-linear-gradient(top,rgba(135,255,250,0.9),rgba(0,125,165,0.9));
		/**/background-image:-webkit-linear-gradient(top,rgba(135,255,250,0.9),rgba(0,125,165,0.9));
		background-image:            linear-gradient(top,rgba(135,255,250,0.9),rgba(0,125,165,0.9));
		border:1px solid #1156AF;
		box-shadow:2px 1px 3px rgba(0,0,0,0.3);
		top:0; left:0; border-radius:inherit;
		text-align:right; padding:0 3%; font-weight:bold;
		font-family:Arial,sans-serif; cursor:default;
		-moz-user-select:none; -webkit-user-select:none; user-select:none;
		color:white; text-shadow:1px 1px 4px rgba(0,0,0,0.9); }
		.slick-uploader-progress.completed {
			display:block; width:100% !important;
			border-color:#0A6D06;
			/**/background-image:   -moz-linear-gradient(top,rgb(135,255,140),rgb(0,165,91));
			/**/background-image:-webkit-linear-gradient(top,rgb(135,255,140),rgb(0,165,91));
			background-image:            linear-gradient(top,rgb(135,255,140),rgb(0,165,91)); }
		.slick-uploader-progress.failed {
			display:block; width:100%;
			border-color:#6D2306;
			/**/background-image:   -moz-linear-gradient(top,rgb(255,228,172),rgb(255,62,2));
			/**/background-image:-webkit-linear-gradient(top,rgb(255,228,172),rgb(255,62,2));
			background-image:            linear-gradient(top,rgb(255,228,172),rgb(255,62,2)); }
